* {
box-sizing: border-box;}

body {
  background: peachpuff;
}
.App-header {
  background-color: #282c34;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

