* {
box-sizing: border-box;}

body {
  background: lightblue;
}
.App-header {
  background-color: #282c34;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  text-align: center;
  color: white;
  
}

.App-link {
  color: #61dafb;
}
.dark-mode {
  background: darkslategray;
  color: darkviolet;
}
.quietHeader {
  color: darkslategray;
}
